F
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
 </div>div1<div>
<h1>h1 text</h1>
<h2>h2 text</h2>
<h6>h6 text</h6>
<p>test paragraph 1</p>
    <a href="https://playwright.dev/python/" target="blank">google it</a>
    <img alt="https://img.freepik.com/free-vector/simple-vibing-cat-square-meme_742173-4493.jpg?semt=ais_hybrid&w=740" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250">
    <ul>
        item1
        item2
        Item3<ul>

        <ol>
            it1
            it2
            it3
            <ol>
                <form action="action" method="POST">
                <input value="text" placeholder="test" type="test">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input type="text">
            <input type="password" placeholder="password">
            <input type="email" placeholder="email">
                <button type="submit"></button>
<table
    <thead>
                    <tr>
                    <td> item1<td>
                    <td> item2 <td>
                    <td> item3 <td>
                    <tbody>
<div>
    <h1 id"h1-text"> H1 text</h1>
    <h2 class="h2-text"> H2 text</h2>
    <h6 class="h2-text"> H6 text</h6>
</html>